.errorMessageText {
  color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-4));
  font-family: var(
    --mantine-font-family-monospace,
    var(--font-geist-mono, monospace)
  );
}

.errorMessageText :where(*) {
  color: inherit;
  font-family: inherit;
}
